<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.dataart.domain.User"/>
        <mapping class="com.dataart.domain.Role"/>
        <mapping class="com.dataart.domain.CurrencyType"/>
        <mapping class="com.dataart.domain.Account"/>
        <mapping class="com.dataart.domain.Service"/>
        <mapping class="com.dataart.domain.TransactionType"/>
        <mapping class="com.dataart.domain.Transaction"/>
        <mapping class="com.dataart.domain.ScratchCard"/>
    </session-factory>
</hibernate-configuration>
